<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Antlr3.Runtime" version="3.5.1" targetFramework="net452" />
  <package id="Dijkstra.NET" version="1.2.1" targetFramework="net452" />
  <package id="EntityFramework" version="6.5.1" targetFramework="net48" />
  <package id="Humanizer.Core" version="2.14.1" targetFramework="net48" />
  <package id="IbanValidation" version="2.0.0" targetFramework="net452" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="9.0.9" targetFramework="net48" />
  <package id="Microsoft.CodeAnalysis" version="4.14.0" targetFramework="net48" />
  <package id="Microsoft.CodeAnalysis.Analyzers" version="4.14.0" targetFramework="net48" developmentDependency="true" />
  <package id="Microsoft.CodeAnalysis.Common" version="4.14.0" targetFramework="net48" />
  <package id="Microsoft.CodeAnalysis.CSharp" version="4.14.0" targetFramework="net48" />
  <package id="Microsoft.CodeAnalysis.CSharp.Workspaces" version="4.14.0" targetFramework="net48" />
  <package id="Microsoft.CodeAnalysis.VisualBasic" version="4.14.0" targetFramework="net48" />
  <package id="Microsoft.CodeAnalysis.VisualBasic.Workspaces" version="4.14.0" targetFramework="net48" />
  <package id="Microsoft.CodeAnalysis.Workspaces.Common" version="4.14.0" targetFramework="net48" />
  <package id="Microsoft.CodeDom.Providers.DotNetCompilerPlatform" version="4.1.0" targetFramework="net48" />
  <package id="MSTest.Analyzers" version="3.10.4" targetFramework="net48" developmentDependency="true" />
  <package id="StringTemplate4" version="4.0.8" targetFramework="net452" />
  <package id="Stub.System.Data.SQLite.Core.NetFramework" version="1.0.119.0" targetFramework="net48" />
  <package id="System.Buffers" version="4.6.1" targetFramework="net48" />
  <package id="System.Collections" version="4.3.0" targetFramework="net48" />
  <package id="System.Collections.Immutable" version="9.0.9" targetFramework="net48" />
  <package id="System.Composition" version="9.0.9" targetFramework="net48" />
  <package id="System.Composition.AttributedModel" version="9.0.9" targetFramework="net48" />
  <package id="System.Composition.Convention" version="9.0.9" targetFramework="net48" />
  <package id="System.Composition.Hosting" version="9.0.9" targetFramework="net48" />
  <package id="System.Composition.Runtime" version="9.0.9" targetFramework="net48" />
  <package id="System.Composition.TypedParts" version="9.0.9" targetFramework="net48" />
  <package id="System.Data.SQLite" version="2.0.1" targetFramework="net48" />
  <package id="System.Data.SQLite.Core" version="1.0.119.0" targetFramework="net48" />
  <package id="System.Data.SQLite.EF6" version="2.0.1" targetFramework="net48" />
  <package id="System.Data.SQLite.Linq" version="1.0.119.0" targetFramework="net48" />
  <package id="System.Diagnostics.Debug" version="4.3.0" targetFramework="net48" />
  <package id="System.Globalization" version="4.3.0" targetFramework="net48" />
  <package id="System.IO.Compression" version="4.3.0" targetFramework="net48" />
  <package id="System.IO.Compression.ZipFile" version="4.3.0" targetFramework="net48" />
  <package id="System.IO.Pipelines" version="9.0.9" targetFramework="net48" />
  <package id="System.Linq" version="4.3.0" targetFramework="net48" />
  <package id="System.Memory" version="4.6.3" targetFramework="net48" />
  <package id="System.Numerics.Vectors" version="4.6.1" targetFramework="net48" />
  <package id="System.Reflection.Metadata" version="9.0.9" targetFramework="net48" />
  <package id="System.Resources.ResourceManager" version="4.3.0" targetFramework="net48" />
  <package id="System.Runtime" version="4.3.1" targetFramework="net48" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.1.2" targetFramework="net48" />
  <package id="System.Runtime.Extensions" version="4.3.1" targetFramework="net48" />
  <package id="System.Text.Encoding.CodePages" version="9.0.9" targetFramework="net48" />
  <package id="System.Threading" version="4.3.0" targetFramework="net48" />
  <package id="System.Threading.Channels" version="9.0.9" targetFramework="net48" />
  <package id="System.Threading.Tasks.Extensions" version="4.6.3" targetFramework="net48" />
  <package id="Zio" version="0.21.0" targetFramework="net48" />
</packages>